@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  @apply text-white;
  background-color: #17171a;
  background-image: url("./bgimg.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
